
.sidenav {
    position: fixed;
    background-color: var(--neutral-1);
    height: 100%;
    width: var(--side-nav-width);
    top: 0;
    left: 0;
}

.sidenav nav {
    padding: 32px 4px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

nav .item {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    background-color: var(--neutral-0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-5);
    transition: all 0.3s;
}
nav .item:hover {
    color: var(--orange-1);
    background-color: var(--orange-0);
    transition: all 0.3s;
}

nav .menuWrapper {
    margin: 24px 0;
    padding: 24px 0;
    border-top: solid 1px var(--neutral-2);
}
nav .menuWrapper .item{
    margin-bottom: 16px;
}